@media (prefers-color-scheme: light) {
  .bluesky-overhaul-focused-post {
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.75);
  }
}

@media (prefers-color-scheme: dark) {
  .bluesky-overhaul-focused-post {
    box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.75);
  }
}

.bluesky-overhaul-help {
  font: 14px/1.5em sans-serif;
}

.bluesky-overhaul-help p {
  line-height: 2em;
}

.bluesky-overhaul-help span.mono {
  font-family: monospace;
  display: inline-block;
  line-height: 1.5em;
  padding: 0 5px;
  background: #eee;
  border-radius: 3px;
}
