body {
  width: 340px;
}

body > header {
  padding-bottom: 8px;
}

body > header a.version {
  padding-bottom: 3px;
  background-color: #018ffe;
}

body > header a.version {
  color: #fff;
  text-decoration: none;
}

body > header a.version:hover {
  text-decoration: none;
}

body > .central {
  padding-top: 8px;
  background-color: #ececec;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

body > .central form label .tip {
  color: #888;
}

body > footer {
  padding-top: 12px;
}
